<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--Define your beans here-->
	<!-- Define dependent bean -->
	<bean id="mycoach" class="com.poc.sonstructorarg.CricketCoach" />
	<bean id="team" class="com.poc.sonstructorarg.CricketTeam">
		<!-- set up constructor injection -->
		<constructor-arg value="Mumbai Indians"/>
		<constructor-arg ref="mycoach"/>
	</bean>
</beans>